.service-section {
  min-height: 100dvh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 6vw;
}
.service-section h1 {
  font-size: 3.8rem;
  padding: 5px;
  margin: 20px 0px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  position: relative;
}

.service-card h3 {
  font-size: 1.5rem;
  color: rgb(21, 20, 20);
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.service-card p {
  width: 100%;
  font-size: 1rem;
  color: rgba(14, 13, 13, 0.7);
  text-align: center;
  line-height: 1.5rem;
  white-space: 1px;
  margin-bottom: 20px;
}
.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
  z-index: 9;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.service-card {
  height: 340px;
  width: 360px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 8%;
  background-color: rgb(255, 255, 255);
  position: relative;
  box-shadow: 5px 5px 5px 5px rgb(207, 231, 221);
}
/* .service-card::before {
  height: 100%;
  width: 100%;
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgb(79, 104, 93);
  transform: rotate(0deg);
  z-index: -1;
} */
/* .service-card:hover.service-card::before {
  transform: rotate(10deg);
} */

@media (max-width: 1100px) {
  .service-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .service-card h3 {
    font-size: 1.5rem;
  }
  .service-card {
    height: fit-content;
    width: fit-content;
  }
}
@media (max-width: 900) {
  .service-card .service-cards {
    height: fit-content;
    width: fit-content;
    margin: 20px 0;
  }
}
